//Custom styles
.custom-img-fluid {
  max-width: 100%;
  height: 100vh;
}

.whatsapp {
  position: fixed;
  top: 88%;
  right: 3%;
  padding: 20px;
  z-index: 10000000;
}

.carousel-indicators li {
  width: 10px;
  border-radius: 50%;
  height: 10px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 20px;
}
